{% extends "base.html" %} {% block title %}Create Group{% endblock %} {% block content
    %}
    <form method="POST">
      <h2 align="center">Change Group Name</h2>
      <br />
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="group-name"
              name="group-name"
              placeholder="New Group Name"
            />
          </div>
      <div style="float: right;"><button type="submit" class="btn btn-primary">Update</button></div>

    </form>
    {% endblock %}
    