{% extends "base.html" %} {% block title %}Chat{% endblock %} {% block content
    %}
    <h2 align="center">Chat</h2>
<!-- Chat Box -->
<div style="float: right; width: 55%; padding-right: 2%; padding-top: 1.5%;">
    <ul class="list-group list-group-flush" id="messages">
    <!-- {% if selected_friend: %} -->
        <li class="list-group-item"></li>
    <!-- {% endif %} -->
        <h5>Chatting with: {{recipient.username}}</h5>
    
        <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-height: 300px; display: flex; flex-direction: column-reverse">
        {% for message in message_db %}
            {% if message.user_id == user.id and message.recipient_id == recipient.id %} 
                <li class="list-group-item">
                    <div style="height:30px">
                        <div style="float: right"><h6>{{username}}</h6></div>
                        <div style="float: left; width: 5%"><button type="button" class="close" onClick="deleteMessage({{message.id}})"><span aria-hidden="true">&times;</span></button></div>
                    </div>
                    <div align="right">{{message.data}}</div>
                </li>
            {% endif %}

            {% if message.user_id == recipient.id and message.recipient_id == user.id %} 
                <li class="list-group-item">
                    <div style="height:30px">
                        <div style="float: left"><h6>{{recipient.username}}</h6></div>
                        <div style="float: right; width: 5%"><button type="button" class="close" onClick="deleteMessage({{message.id}})"><span aria-hidden="true">&times;</span></button></div>
                    </div>
                    <div align="left">{{message.data}}</div>
                </li>
            {% endif %}
            
        {% endfor %}
        </div>
    </ul>
    <form method="POST">
        <textarea name="message" id="message" class="form-control"></textarea>
        <br /> 
        
        <div align="right">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
</div>

    <br />

<!-- Friend's List -->
<div style="float: left; width: 30%; padding-left: 0%">
    <li class="list-group-item"><h4 align="center">Friends List</h4></li>
    {% if user.friends_list %}
        {% for friend in user.friends_list %}
            <li class="list-group-item">
                <a class="btn btn-info btn-sm" id="chat" href="/chat/{{friend.friend_name}}">{{friend.friend_name}}</a>
                <!-- <button type="button" class="btn btn-info btn-sm" onClick="selectFriend({{user.id}})" href="/profile/{{user.username}}">{{user.username}}</button> -->
            </li>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}
    