{% extends "base.html" %} {% block title %}Chat{% endblock %} {% block content
    %}

    <!-- Chat Box -->

<br />
<!-- Friend's List -->

<div style =   "position: fixed;
                right: 0;
                left: 0;
                margin-right: auto;
                margin-left: auto;
                min-height: 10em;
                max-width: 550px;">
                   
    <!-- Chat Header -->
    <li style="height: 70px; background-color:rgb(27, 49, 121)" class="list-group-item"><h4 style="color:white; padding-top:5px" align="center">LeeBRA Chat</h4></li>
    {% if user.friends_list %}
        {% for friend in user.friends_list %}
            <li style="height: 70px" class="list-group-item">
                    <div style="float: left; width: 40px">
                        {% set friend_data = User.query.filter(User.id == friend.friend_id).first_or_404() %}

                    <a href="/profile/{{friend_data.username}}">
                    <!-- profile picture -->
                        <img id='cornerpic' style="width:40px" class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + friend_data.image_file) }}"></a>
                    </div>

                    <a style="float:top; padding-bottom: 10px; color: black" class="nav-item" href="/chat/{{friend_data.username}}"><div>

                    <!-- username -->
                    <div style="float:left; padding-left: 10px;">{{friend_data.username}}</div>



                    {% set most_recent = Message.query.order_by(desc(Message.id)).filter(or_(and_(Message.user_id == current_user.id, Message.recipient_id == friend.friend_id), and_(Message.recipient_id == current_user.id, Message.user_id == friend.friend_id))).first() %}

                    {% if most_recent %}
                    {% set time = datetime.timedelta(hours=5) %}
                    <!-- date and time -->
                    <div align="right">
                        {% if (most_recent.date - datetime.datetime.now()).days < 0 %}
                        <div style="float:right"><small>{{(most_recent.date - time).strftime('%b %d, %I:%M %p')}}</small></div>
                        <!-- if it was only yesterday -->
                        {% elif (most_recent.date - datetime.datetime.now()).days == -1 %}
                            <div style="float:right"><small>{{(message.date - time).strftime('Yesterday, %I:%M %p')}}</small></div>
                            <!-- if it was today, just show the time -->
                        {% else %}
                            <div style="float:right"><small>{{(most_recent.date - time).strftime('%I:%M %p')}}</small></div>
                        {% endif %}
                    
                    </div>


                    <div style="float:left; padding-left: 10px; width: 450px; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;">
                        <small>
                        <!-- if you sent the most recent message -->

                        


                        {% if most_recent.user_id == current_user.id %}
                            You: {{ Message.query.order_by(desc(Message.id)).filter(and_(Message.user_id == current_user.id, Message.recipient_id == friend.friend_id)).first().data }}
                        <!-- they sent the most recent message -->
                        {% else %}
                            {{ Message.query.order_by(desc(Message.id)).filter(and_(Message.recipient_id == current_user.id, Message.user_id == friend.friend_id)).first().data }}
                        {% endif %}

                        
                        </small>

                    </a></div>
                        <br/>
                    </div>
                    
                    {% else %}
                    <div style="float:left; padding-left: 10px; width: 450px; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;">
                        <small style="color: rgb(0, 140, 175)">Say hi!</small>
                    </div>

                    {% endif %}

                
                <!-- check that they're not already chatting with them -->
                {% if friend.friend_id != recipient.id %}
                    <!-- chat button -->
                    <!-- <div align="right"><a class="btn btn-outline-success btn-sm" id="chat" href="/chat/{{friend_data.username}}">Chat</a></div> -->
                {% endif %}
            </li>
        {% endfor %}
    {% endif %}
    
    {% if user.groups %}
        {% for specific_group in user.groups %}
            <li style="height: 60px" class="list-group-item">
                <div style="float: left; padding-right: 10px"><a class="btn btn-dark btn-sm" id="chat" href="/group-chat/{{specific_group.group_id}}">{{specific_group.group_name}}</a></div>

                <!-- edit group name -->
                <div style="float: left"><a class="close" id="chat" href="/change-group-name/{{specific_group.group_id}}"><span aria-hidden="true"><i class="material-icons">mode_edit</i></span></a></div>
                
                <!-- Chat Button -->
                <div align="right"><a class="btn btn-outline-success btn-sm" id="chat" href="/group-chat/{{specific_group.group_id}}">Group Chat</a></div>

            </li>
        {% endfor %}
    {% endif %}

    <div style="float: right; padding-top: 3%"><a class="btn btn-outline-primary btn-sm" id="create-group" href="/create-group">New Group</a></div>
</div>

{% endblock %}
    