{% extends "base.html" %} {% block title %}Chat{% endblock %} {% block content
    %}
    <h2 align="center">Chat</h2>

    <!-- Chat Box -->
{% if recipient %}
<div style="float: right; width: 55%; padding-right: 2%; padding-top: 1.5%;">
    <ul class="list-group list-group-flush" id="messages">
        <h5 align="center">{{recipient.username}}</h5>
    
            <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light;" style="max-height: 300px; display: flex; flex-direction: column-reverse;">
            {% for message in Message.query.order_by(desc(Message.id)).all() %}
            <!-- Your messages -->
            {% if message.user_id == user.id and message.recipient_id == recipient.id %} 
                <li class="list-group-item">
                    <div style="height:30px">
                        <div style="float: right; padding-left: 10px"><img style="width:40px" class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}"></div>
                        <div style="float: right"><h6>{{username}}</h6></div>
                        <div style="float: left; width: 5%"><a class="close" id="chat" href="/delete-message/{{message.id}}/{{recipient.username}}"><span aria-hidden="true">&times;</span></a></div>
                        
                    <!-- if the message is old, show full date and time -->
                    {% if (message.date - datetime.datetime.now()).days < 0 %}
                    <div style="float:left; padding-left: 10px"><small>{{(message.date - datetime.timedelta(hours=5)).strftime('%b %d, %I:%M %p')}}</small></div>
                    <!-- if it was only yesterday -->
                    {% elif (message.date - datetime.datetime.now()).days == -1 %}
                        <div style="float:left; padding-left: 10px"><small>{{(message.date - datetime.timedelta(hours=5)).strftime('Yesterday, %I:%M %p')}}</small></div>
                        <!-- if it was today, just show the time -->
                    {% else %}
                        <div style="float:left; padding-left: 10px"><small>{{(message.date - datetime.timedelta(hours=5)).strftime('%I:%M %p')}}</small></div>
                    {% endif %}
                </div>

                <div style="overflow-wrap: break-word" align="right">{{message.data}}</div>
                
                </li>
            {% endif %}

            <!-- other person's messages -->
            {% if message.user_id == recipient.id and message.recipient_id == user.id %} 
                <li class="list-group-item">
                    <div style="height:30px">
                        <div style="float: left; padding-right: 10px"><img style="width:40px" class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + User.query.filter(User.id == message.user_id).first_or_404().image_file) }}"></div>
                        <div style="float: left"><h6>{{recipient.username}}</h6></div>

                    <!-- if the message is old, show full date and time -->
                    {% if (message.date - datetime.datetime.now()).days < 0 %}
                    <div style="float:right"><small>{{(message.date - datetime.timedelta(hours=5)).strftime('%b %d, %I:%M %p')}}</small></div>
                    <!-- if it was only yesterday -->
                    {% elif (message.date - datetime.datetime.now()).days == -1 %}
                        <div style="float:right"><small>{{(message.date - datetime.timedelta(hours=5)).strftime('Yesterday, %I:%M %p')}}</small></div>
                        <!-- if it was today, just show the time -->
                {% else %}
                    <div style="float:right"><small>{{(message.date - datetime.timedelta(hours=5)).strftime('%I:%M %p')}}</small></div>
                {% endif %}
            </div>

                <div style="overflow-wrap: break-word" align="left">{{message.data}}</div>
                
                </li>
            {% endif %}
            
        {% endfor %}
        </div>
    </ul>
    <form method="POST">
        <!-- <textarea name="message" id="message" class="form-control">message1</textarea> -->
        <textarea name="message" id="message" class="form-control"></textarea>

        
        <br /> 
        
        <div align="right">
            <audio id="sound_send" src="/static/audio/send.wav" preload="auto"></audio>
            <button type="submit" class="btn btn-primary" onclick="document.getElementById('sound_send').play();" >Send</button>
        </div>
    </form>
</div>
{% endif %}

    <br />



<!-- Friend's List -->
<div style="float: left; width: 40%; padding-left: 0%">
    <li style="height: 70px" class="list-group-item"><h4 align="center">Friends List</h4></li>
    {% if user.friends_list %}
        {% for friend in user.friends_list %}
            <li class="list-group-item">
                <div style="float: left"><img style="width:40px" class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + User.query.filter(User.id == friend.friend_id).first_or_404().image_file) }}"></div>
                <div style="float: left"><a class="btn btn-link" id="chat" href="/profile/{{User.query.filter(User.id == friend.friend_id).first_or_404().username}}">{{User.query.filter(User.id == friend.friend_id).first_or_404().username}}</a></div>
                <div align="right"><a class="btn btn-outline-success btn-sm" id="chat" href="/chat/{{User.query.filter(User.id == friend.friend_id).first_or_404().username}}">Chat</a></div>
            </li>
        {% endfor %}
    {% endif %}
    
    {% if user.groups %}

    <li class="list-group-item"><h4 align="center">Group Chats</h4></li>
        {% for group in user.groups %}
            <li class="list-group-item">
                <a class="btn btn-dark btn-sm" id="chat" href="/group-chat/{{group.group_id}}">{{group.group_name}}</a>
                
                <!-- edit group name -->
                <div style="float: right; width: 5%"><a class="close" id="chat" href="/change-group-name/{{group.group_id}}"><span aria-hidden="true"><i class="material-icons">mode_edit</i></span></a></div>
            </li>
        {% endfor %}
    {% endif %}

    <div style="float: right; padding-top: 3%"><a class="btn btn-outline-primary btn-sm" id="create-group" href="/create-group">New Group</a></div>
</div>

{% endblock %}
    