{% extends "base.html" %} {% block title %}Forgot Password Accept{% endblock %} {% block content
    %}


    <form method="POST">
      <h2 align="center">Forgot Password Accept</h2>
      
      <h3>{{user.username}} need to display username </h3>
      <h3>{{username}}</h3>
      <h3> {{user.question}} need to display question </h3>

      <div class="form-group">
        <label for="answer">Security question has to be written here.... {{question}}
            
        </label>
        <input
          type="text"
          class="form-control"
          id="answer"
          name="answer"
          placeholder="Write your answer"
        />
      </div>
      
    
      <div class="form-group">
        <label for="answer">Security question has to be written here.... {{question}}
            
        </label>
        <input
          type="text"
          class="form-control"
          id="answer"
          name="answer"
          placeholder="Write your answer"
        />
      </div>
    
      <br />
    
      <button type="submit" class="btn btn-primary">Submit</button>
      
    </form>
    {% endblock %}
    