{% extends "base.html" %} {% block title %}Forgot Password Accept{% endblock %} {% block content
    %}


    <form method="POST">
      <h2 align="center">Forgot Password?</h2>
      <h3></h3>
      <h6>Hello</h6>
      <div>
        <input type='text' id='username' name='username' value={{username}}>
      </div>
      
      
      <div class="form-group">
        <label for="answer">{{question}}
            
        </label>
        <input
          type="text"
          class="form-control"
          id="answer"
          name="answer"
          placeholder="Write your answer"
        />
      </div>

      
      
        
      <br />
    
      <button type="submit" class="btn btn-primary">Submit</button>
      
    </form>
    {% endblock %}
    