{% extends "base.html" %} {% block title %}Forgot Password?{% endblock %} {% block content
    %}
    <style>
      .bg-dark {
          background-color: #212529!important;
      }
    </style>
    <form method="POST">
      <h2 align="center">Forgot Password?</h2>
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="Enter Username"
        />
      </div>  
      
      
    
      <br />
      
      <button type="submit" class="btn btn-primary">Submit</button>
      
    </form>
    {% endblock %}
    