{% extends "base.html" %} {% block title %}Log In{% endblock %} {% block content
%}
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
  rel="stylesheet" 
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
  crossorigin="anonymous">
  <link rel="stylesheet" 
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
</head>

<body>
<form method="POST">
  <h2 align="center">Log In</h2>
  <p align = "center">New here? <a href = "sign-up" style="text-decoration: none;">Sign up now!</a></p>
  <div class="d-grid gap-2 col-6 mx-auto">
  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      placeholder="Enter Username"
    >
    <label for="username" style="font-size:large;"><i class = "bi bi-person"></i> Username</label>
  </div>

  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter Password"
    >
    <label for="password" style="font-size:large;"><i class = "bi bi-lock"></i> Password</label>
    
  </div>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
  <a onClick = "showHidePassword();" href ="#" style="text-align: right; text-decoration:none;" id = "show-hide"><i class = "bi bi-eye" id="show_eye"></i><i>Show</i></a>
</div>


  <div class="d-grid gap-2 col-4 mx-auto">
    <button type="sumbit" class="btn btn-primary btn-lg" style="font-weight:bold;">Log In</button>
    <a class="btn btn-outline-secondary btn-sm" id="forgotPassword" href="/forgot-password" role = "button">Forgot Password</a>
  </div>
    
</form>
</body>
<script>
  function showHidePassword() {
    var x = document.getElementById("password");
    var eye = document.getElementById("show_eye");

    if (x.type === "password") {
      x.type = "text";
      document.getElementById('show_eye').className = "bi bi-eye-slash";
      document.getElementById('show-hide').innerHTML = "<i class = 'bi bi-eye-slash' id='show_eye'>Hide";
    }
    else if (x.type === "text") {
      x.type = "password";
      document.getElementById('show_eye').className = "bi bi-eye";
      document.getElementById('show-hide').innerHTML = "<i class = 'bi bi-eye' id='show_eye'>Show";
    }
  }
</script>
{% endblock %}
