{% extends "base.html" %}
{% block content %}
<style>
  #profilepic {
      object-fit: cover;
      width:130px;
      height:130px;
  }
</style>

<div class="content-section">
  <div class="media">
    <img id=profilepic style="width:130px" class="rounded-circle account-img" src="{{ image_file }}">

    <div style="padding-left: 20px" class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      {% if current_user.status %}
        <p class="text-secondary">{{ current_user.status }}</p>
      {% endif %}
    </div>
  </div>

    
{% endblock %}
    