{% extends "base.html" %} {% block title %}Password Reset{% endblock %} {% block
    content %}
    <form method="POST">
      <h2 align="center">Password Reset</h2>
       
      <!-- <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="Write Down Your Original Username"
        />
      </div> -->


      <br />
      <h5>The password must be at least 7 characters long and must contain at least one letter, </h5>
      <h5> one number, and one special character: !@#$%^&*-+()</h5>
      <br />



      <div class="form-group">
        <label for="password1">New Password</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Enter New Password"
        />
      </div>
    
      <div class="form-group">
        <label for="password2">New Password (Confirm)</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Confirm New Password"
        />
      </div>
    
     
    
    
      <h5 style="color:red">Warning!</h5>
      <h5 style='color:red'>Write down your username, password, and security word. If forgotton the account will be inaccessible.</h5>
      
    
      <br />
    
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}
    