{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block content
    %}


    <form method="POST">
      <h2 align="center">{{user.username}}</h2>

    </form>

    <li class="list-group-item">
        <h6 align="center">Profile</h6>
        <h6 align="left">Current Status: </h6>
        <div class="form-group">
            <input
                type="text"
                class="form-control"
                id="status"
                name="status"
                placeholder="Change your Status"
            />
        </div>
        <div style="height: 45px">
          <div style="float: left; padding-right: 2%; width: 45px; height: 45px">
            <img style="width: 45px; height: 45px" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="rounded-circle">
          </div>
        <div style="float: left; padding-top: .6%"><button type="submit" class="btn btn-link btn-sm">Change Profile Picture</button></div>
        </div>
    </li>

    <li class="list-group-item">
      <h6 align="center">Category Name</h6>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">Toggle3</label>
      </div>
      <div><button type="button" class="btn btn-link btn-sm">Edit Profile</button></div>
      <div><button type="button" class="btn btn-link btn-sm">View Profile</button></div>

    </li>

    <li class="list-group-item">
      <h6 align="center">Cosmetic</h6>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Message Color
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">White</a>
          <a class="dropdown-item" href="#">Blue</a>
          <a class="dropdown-item" href="#">Green</a>
          <a class="dropdown-item" href="#">Orange</a>
          <a class="dropdown-item" href="#">Teal</a>
        </div>
      </div>

      <br />

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Text Size
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Small</a>
          <a class="dropdown-item" href="#">Medium</a>
          <a class="dropdown-item" href="#">Large</a>
        </div>
      </div>
    </li>

    {% endblock %}
    