{% extends "base.html" %} {% block title %}Search Users{% endblock %} {% block content
    %}
    <form method="POST">
      <h2 align="center">Search Users</h2>
      <br />
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="search"
          name="search"
          placeholder="Search by Username"
        />
      </div>

      <br />
    
        <div align="center">
            <button type="sumbit" class="btn btn-primary">Search</button>
        </div>
        {% if user_db %}
        {% for user in user_db %}
        <div>
          {{ user.first_name}} {{ user.username }}
        </div>
        {% endfor %}
        {% endif %}

    </form>
    {% endblock %}
    