{% extends "base.html" %} {% block title %}Search Users{% endblock %} {% block content
  %}
  <style>
    .bg-dark {
        background-color: #212529!important;
    }
  </style>
  <form method="POST">
    <h2 align="center">Search Users</h2>
    <br />
        <div style="float: left; width: 65%; padding-left: 30%;" class="form-group">
          <input
            type="text"
            class="form-control"
            id="search"
            name="search"
            placeholder="Search by Username"
          />
        </div>
        <div style="float: right; width: 35%; padding-left: 2%"><button type="submit" class="btn btn-primary">Search</button></div>
    <br />
    <br />
    <br />

    <div style =   "position: fixed;
                    right: 0;
                    left: 0;
                    margin-right: auto;
                    margin-left: auto;
                    min-height: 10em;
                    max-width: 550px;">

      {% if search_list %}
        {% for search_user in search_list %}
          <li style="height: 70px;" class="list-group-item">
              <!-- their profile picture -->
              <div style="float: left; padding-right: 10px"><a href="/profile/{{search_user.username}}"><img id="cornerpic" style="width:40px" class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + search_user.image_file) }}"></a></div>

              <!-- their name appears here -->
              <div style="float: left; width: 120px"><a class="btn btn-link" id="chat" href="/profile/{{search_user.username}}">{{search_user.username}}</a></div>
              
              <!-- if they are someone other than the CURRENT user -->
              {% if current_user != search_user %}

                {% set friend = Friend.query.filter(and_(Friend.user_id == current_user.id, Friend.friend_id == search_user.id)).first() %}
                {% set blocked = Block.query.filter(and_(Block.user_id == current_user.id, Block.blocked_id == search_user.id)).first() %}
                {% set request = Request.query.filter(and_(Request.user_id == current_user.id, Request.receiver_id == search_user.id)).first() %}
                
                <!-- check that they're already your friend (if they are, no request button) -->
                {% if not friend %}
                  <!-- if they're not blocked -->
                  {% if not blocked %}
                    <!-- if you haven't sent them a friend request -->
                    {% if not request %}
                      <div><a style="float: right; padding-top: 6px" class="btn btn-outline-success btn-sm" href="/request-friend/{{search_user.id}}/{{search}}">Request</a></div>
                    {% endif %}
                  {% else %}
                  <div><a style="float: right; padding-top: 6px" class="btn btn-outline-danger btn-sm" href="/remove-block/{{search_user.id}}">Unblock</a></div>
                  {% endif %} 
                {% endif %}
              {% else %}
              {% endif %}
          </li>
        {% endfor %}
      {% endif %}
    </div>
  </form>
  {% endblock %}