{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
  rel="stylesheet" 
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
  crossorigin="anonymous">
  <link rel="stylesheet" 
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
  <script src="//code.jquery.com/jquery.min.js"></script>
<script src="jquery.passtrength.js"></script>

</head>
<body>



<form method="POST" action="" enctype="multipart/form-data">
  <h2 align="center">Sign Up</h2>
  <p align = "center">Already have an account? <a href = "login" style="text-decoration: none;">Sign in!</a></p>

<div class="d-grid gap-2 col-6 mx-auto">
      
      <div class="form-floating">
          {% if form.username.errors %}
              {{ form.username(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.username.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.username(
                    class="form-control form-control-lg",
                    type="text",
                    id="username",
                    style="font-size: medium",
                    placeholder="Enter Username")
              }}
          {% endif %}
          <label for="username" style="font-size:large;" class = "bi bi-person"> Username</label>
      </div>

      <div class="form-floating">
          {% if form.password1.errors %}
              {{ form.password1(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.password1.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.password1(
                    class="form-control form-control-lg",
                    type="password",
                    id="password1",
                    style="font-size: medium",
                    placeholder="Choose Password")
              }}               
          {% endif %}
        <label for="password1" style="font-size:large;" class = "bi bi-lock"> Password</label>
      </div>

      <div>

<div class="form-floating">
  {% if form.password2.errors %}
      {{ form.password2(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
          {% for error in form.password2.errors %}
              <span>{{ error }}</span>
          {% endfor %}
      </div>
  {% else %}
      {{ form.password2(
            class="form-control form-control-lg",
            type="password",
            id="password2",
            style="font-size: medium",
            placeholder="Choose Password")
      }}               
  {% endif %}
  <label for="password2" style="font-size:large;" class = "bi bi-lock"> Confirm Password</label>

</div>
</div>
  <a onClick = "showHidePassword();" href ="#" style="text-align: right; text-decoration:none;" id = "show-hide"><i class = "bi bi-eye" id="show_eye"></i><i>Show</i></a>

<div class="form-floating">
  {% if form.security_question.errors %}
      {{ form.security_question(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
          {% for error in form.security_question.errors %}
              <span>{{ error }}</span>
          {% endfor %}
      </div>
  {% else %}
    {{ form.security_question(
          class="form-select form-control-lg",
          type="text",
          id="security_question",
          style="font-size: small",
          placeholder="Choose Security Question")
    }}        
  {% endif %}
  <label for="question" style="font-size:large;" class="bi bi-question-circle"> Security Question</label>
</div>

<div class="form-floating">
  {% if form.answer.errors %}
      {{ form.username(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
          {% for error in form.answer.errors %}
              <span>{{ error }}</span>
          {% endfor %}
      </div>
  {% else %}
      {{ form.answer(
            class="form-control form-control-lg",
            type="text",
            id="answer",
            style="font-size: medium",
            placeholder="Choose Password")
      }}               
  {% endif %}
  <label for="answer" style="font-size:large;" class = "bi bi-lock"> Security Question Answer</label>
</div>

<p style="color:red"><strong>Warning!</strong> <br>
  Write down your username, password, and security question answer. If forgotten, the account will be inaccessible.</p>
  

</div>
<div class="d-grid gap-2 col-4 mx-auto">
  <div align="center">
  {{ form.submit(class="btn btn-primary btn-lg", style="font-weight:bold; width: 200px;") }}
  </div>
</div>
</div>
</form>

</div>

</form>
<script>
  function showHidePassword() {
    var x = document.getElementById("password1");
    var y = document.getElementById("password2");
    var eye = document.getElementById("show_eye");

    if (x.type === "password") {
      x.type = "text";
      y.type = "text";
      document.getElementById('show_eye').className = "bi bi-eye-slash";
      document.getElementById('show-hide').innerHTML = "<i class = 'bi bi-eye-slash' id='show_eye'>Hide";
    }
    else if (x.type === "text") {
      x.type = "password";
      y.type = "password";
      document.getElementById('show_eye').className = "bi bi-eye";
      document.getElementById('show-hide').innerHTML = "<i class = 'bi bi-eye' id='show_eye'>Show";
    }
  }
</script>
</body>
{% endblock %}
