{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h2 align="center">Sign Up</h2>
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      placeholder="Enter Username"
    />
  </div>

  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter First Name"
    />
  </div>

  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter Password"
    />
  </div>

  <div class="form-group">
    <label for="password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm Password"
    />
  </div>


  <select class="selectpicker" title="question" type='text' name='question' id='question'>
    <option data-hidden="true">Choose security question</option>
    <option value="In what city were you born?">In what city were you born?</option>
    <option value="What is the name of your favorite pet?" >What is the name of your favorite pet?</option>
    <option value="What is the name of your first school?" >What is the name of your first school?</option>
    <option value="What was the make of your first car?" >What was the make of your first car?</option>
    <option value="What was your first job?" >What was your first job?</option>
  </select>



  <div class="form-group">
    
    <input
      type="text"
      class="form-control"
      id="answer"
      name="answer"
      placeholder="Write your answer"
    />
  </div>


  <h3 style="color:red">Warning!</h3>
  <h5 style='color:red'>Write down your username, password, and security word. If forgotton the account will be inaccessible.</h5>
  

  <br />

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
